<div class="{{ styles.border }}"> 
    <div class="z-0 {{ styles.color }} {{ styles.space }}"> 
        <h1 class="flex items-center {{ styles.title.class }}">
            {{ component(styles.title.icon.name,styles.title.icon,'svg') }}  
            <div class="pl-2 font-bold">
                {{ title }}
            </div>
        </h1>    
        <form class="form pt-4" id="change_password_form">    
            <input type="hidden" name="token" value="{{ token }}">
            {% if uuid is not empty %}
            <input type="hidden" name="uuid" value="{{ uuid }}">
            {% endif %} 
            <div class="{{ styles.field }} required">
                <div class="relative z-0">
                    <input 
                        class="z-0 form-input password-field {{ styles.input.class }}"                       
                        type="password" 
                        rule="minLength[4]"
                        name="password" 
                        id="password" 
                        {{ fields.password.placeholder|attr("placeholder") }}>  
                    <div class="absolute view-password cursor-pointer inset-y-0 right-0 flex items-center pr-2">
                        {{ component('icons~eye',styles.input.icon,'svg') }}
                    </div>               
                    <label class="{{ styles.label }}">
                        {{ fields.password.label }}
                    </label>
                    <span class="input-filled-focused"></span>   
                </div>        
            </div>   
            <div class="{{ styles.field }} required">               
                <div class="relative z-0">   
                    <input 
                        class="form-input password-field {{ styles.input.class }}"
                        type="password"
                        rule="match[password]" 
                        name="repeat_password" 
                        id="repeat_password" 
                        {{ fields.repeat_password.placeholder|attr('placeholder') }} 
                        value="">
                    <div class="absolute view-password cursor-pointer inset-y-0 right-0 flex items-center pr-2">
                        {{ component('icons~eye',styles.input.icon,'svg') }}
                    </div>               
                    <label class="{{ styles.label }}">
                        {{ fields.repeat_password.label }}
                    </label>
                    <span class="input-filled-focused"></span> 
                </div>
            </div>      
            {{  component('current>form.footer',{ 
                    button_title: buttons.submit                             
                }) 
            }}       
        </form>      
    </div>
</div>