{% if content_type and content_id is not empty %}
    {% set content_item = content().type(content_type).get(content_id) %}
{% endif %}
{% set fields = content_item.fields() %}
{% if fields is not iterable %}
<div class="p-2 font-bold">
    {{ message }}
</div>
{% endif %}
<div class="{{ class }}">
    <div class="inline-block p-1 px-2 rounded-lg border border-solid border-blue-300 uppercase text-gray-500">
        {{ content_item.getType.getTitle() }}
    </div>
    <div class="w-full mt-2">
        <table class="p-1 border border-stone-200 rounded border-solid">
            <tbody>
                {% for field in fields %}   
                    {% set value = field.getValue() %}
                    {% if (value is not empty) or (hide_empty != true and value is empty) %}
                        <tr>
                            <td class="text-right font-bold">
                                {{ field.getTitle() }}
                            </td>
                            <td class="break-all">
                                <div class="break-all">
                                    {{ field.getValue() }}
                                </div>                                
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>   
    </div>
</div>