<div class="{{ styles.space }} {{ styles.border }}">
    <div class="{{ styles.color }}">
        <h1 class="flex items-center {{ styles.title.class }}">
            {{ component(styles.title.icon.name,styles.title.icon,'svg') }}  
            <div class="pl-2 font-bold">
                {{ title }}
            </div>
        </h1>
        <form class="form pt-4" id="reset_password_form">
            <div class="field flex flex-col">
                <label class="{{ styles.label }}">
                    {{ email.label }}
                </label>      
                <input 
                    class="form-input {{ styles.input.class }} {{ styles.input.hover }} {{ styles.input.focus }}"
                    rule="email" 
                    type="text" 
                    name="email" 
                    id="email" 
                    {{ email.placeholder|attr("placeholder") }}>            
            </div>         
            {{  component('current>form.footer',{ 
                    button_title: buttons.submit                       
                }) 
            }}                  
        </form>
    </div>                       
</div> 