{{ component('current>user-area.title',{ title: title, icon: icon }) }}
<div class="mt-16 flex">
    <nav class="border border-solid border-gray-300 flex space-x-1 bg-gray-100 rounded-lg transition p-1" aria-label="Tabs" role="tablist">
        <button type="button" 
            class="active-button {{ styles.tab.button }}"
            role="tab"
            mountTo="files_view"
            component="current>files.view">
            {{ component('material-icons~file.text',theme.icons.action,'svg') }}
            {{ labels.files }}
        </button>
        <button type="button" 
            class="{{ styles.tab.button }}"
            role="tab"
            mountTo="files_view"
            component="current>files.trash">
            {{ component('material-icons~trash',theme.icons.action,'svg') }}
            {{ labels.trash }}
        </button>
    </nav>
</div>
<div id="files_view" class="mt-3" role="tabpanel">
    {{ component('current>files.view',{ }) }} 
</div>

{{  component('tailwind~modal.confirm',{ 
        component_id: 'confirm_delete_file',
        title_class: 'text-gray-900 bg-slate-200 p-2',
        content: messages.delete.description
    }) 
}}

{{  component('tailwind~modal',{ 
        component_id: 'preview_file',
        title_class: 'text-gray-900 font-bold text-md',
        title: preview.title,
        size: 'w-full',
        content: component('current>loader'),
        content_id: 'preview_file_content'
    }) 
}}
