<div class="xs:mt-16 {{ styles.class }}">  
    <div         
        class="w-full flex flex-row place-content-center relative -top-16">        
        <div 
            class="w-24 h-24 self-center bg-stone-50 rounded-full ring-stone-50 border-2 border-solid border-stone-300 ring-8">
            {% if icon is not empty %}
            <div class="p-4 w-full h-full">
                {{ component(icon,{ class: 'text-center', size: 'w-full h-full', color: 'text-sky-400' },'svg') }}
            </div>                
            {% endif %}    
            {% if image is not empty %}
                <div class="p-4">
                    <img alt="{{ title }}" class="{{ styles.image }}" src="{{ template_url }}images/{{ image }}">
                </div>    
            {% endif %} 
        </div>
    </div>      
    {% if title is not empty %}
    <h2 class="{{ styles.title }}">
        {{ title }}
    </h2>
    {% endif %}
    <ul class="block flex-grow bg-stone-50 p-4 rounded-xl">
        {% for item in features %}
        <li class="flex flex-row items-start my-4">
            <div>
                {{ component('icons~check.badge',styles.item.icon,'svg') }}           
            </div>                  
            <div class="{{ styles.item.title }}">
                <div>
                    {{ item.title }}
                    <div class="{{ styles.item.subtitle }}">
                        {{ item.subtitle }}
                    </div>
                </div>                    
            </div>
        </li>    
        {% endfor %}                
    </ul>  
    {% if details_link is not empty %}
        <div class="mt-8 flex flex-row place-content-center">
            <a class="{{ styles.buttons.details }}" href="{{ url(details_link) }}">
                {{ labels.details }}
            </a>
        </div>
    {% endif %}
</div>