<div class="flex flex-col xs:hidden sm:flex md:flex">
    <div class="flex flex-row items-center w-64 {{ styles.border }}">
        <div class="text-sm font-bold px-4 w-1/2">{{ labels.image }}</div>
        <div class="p-1 uppercase text-gray-500 w-1/2">       
            {{ qrcode.image_type }}
        </div>  
    </div>
    <div class="flex flex-row items-center w-64 {{ styles.border }}">
        <div class="text-sm font-bold px-4 w-1/2">{{ labels.size }}</div>
        <div class="p-1 uppercase text-gray-500 w-1/2">       
            {{ qrcode.scale }}
        </div>  
    </div>
    <div class="flex flex-row items-center w-64 {{ styles.border }}">
        <div class="text-sm font-bold px-4 w-1/2">{{ labels.version }}</div>
        <div class="p-1 uppercase text-gray-500 w-1/2">       
            {{ (qrcode.version == -1) ? labels.auto : qrcode.version }}
        </div>  
    </div>
    {% if qrcode.precision is not empty %}
    <div class="flex flex-row items-center w-64 {{ styles.border }}">
        <div class="text-sm font-bold px-4 w-1/2">{{ labels.precision }}</div>
        <div class="p-1 uppercase text-gray-500 w-1/2">       
            {{ qrcode.precision }}
        </div>  
    </div>
    {% endif %}
    {% if qrcode.isDynamic() == true %}
    <div class="flex flex-row items-center {{ styles.border }}">
        <div class="text-sm font-bold px-4 w-1/2">{{ labels.scans }}</div>
        <div class="p-1 font-bold uppercase text-green-400 w-1/2">       
            {{ qrcode.scans }}
        </div>  
    </div>
    {% endif %}
    <div class="flex flex-row items-center w-64 {{ styles.border }}">
        <div class="text-sm font-bold px-4 w-1/2">{{ labels.type }}</div>
        <div class="p-1 uppercase text-gray-500 w-1/2">       
            {{ (qrcode.isDynamic() == true) ? labels.dynamic : labels.static }}
        </div>  
    </div>
</div> 