{% set views = createModel('QrcodeScanData','qrcode').QueryQrCode(qrcode_id,1).orderBy('date_created','desc') %}
{% set items = paginate(views,'qrcode.views') %}  
{% set items = items.getItems() %}
{% if items|length == 0 %}
<tr>
    <td>..</td>
</tr>
{% endif %}
{% for item in items %} 
<tr id="row_{{ item.uuid }}" uuid="{{ item.uuid }}">
    <td>
        {{ item.date_created|dateFormat }}
    </td>
    <td>
        {{ item.country_code }}
    </td>
    <td>
        {{ item.city }}       
    </td>  
    <td>
        {{ item.zip_code }}       
    </td>  
    <td>&nbsp;
        {% if item.latitude is not empty and item.longitude is not empty and view_map == true %}
        <button 
            class="ui icon mini basic button map-button" 
            {{ buttons.map|attr('title') }} 
            uuid="{{ item.uuid }}">
            <i class="icon marker"></i>
        </button> 
        {% endif %}
    </td>
</tr>
{% endfor %}