{% if uuid is not empty %}
    {% set qrcode = createModel('Qrcode','qrcode').findById(uuid) %}
{% endif %}

{% component 'current>user-area.panel.inner' %}
    {% if (qrcode.content_type == 'text' or qrcode.content_type == 'address') and qrcode.isDynamic() == true %}
        <div class="flex flex-row items-center mb-2">
            <a            
                class="cursor-pointer tooltip" 
                href="{{ url(qrcode.link_path) }}" 
                data-tip="{{ labels.view }}"
                target="_blank">
                {{ component('icons~link.external',theme.icons.action,'svg') }}                          
            </a>
            <div class="text-md text-gray-700 font-bold px-2 flex-grow">
                {{ labels.preview }}
            </div>
        </div>      
    {% endif %}
    <div class="mt-2 flex flex-col flex-grow" id="preview_content" uuid="{{ qrcode.uuid }}">
        <div class="text-sm font-bold">{{ labels.content }}</div>
        <div class="text-gray-400 flex flex-row items-center">
            {{ qrcode.content }}
        </div>
        <div class="py-4">
            {% if qrcode.content_id is not empty %}
                {{  component('current>qrcode.content',{ 
                        class: ' ',
                        hide_empty: true,
                        content_type: qrcode.content_type, 
                        content_id: qrcode.content_id 
                    }) 
                }}
            {% endif %}
        </div>         
    </div>
{% endcomponent %}