{% set user_id = service('access').getId() %}
{% set link_type_filter = searchValue('link_type_filter','links') %}
{% set links = createModel('Links','links').userQuery(user_id).orderBy('id','desc') %}
{% if link_type_filter is not empty %}
{% set links = links.where('type','=',link_type_filter) %}
{% endif %}
{% set items = paginate(links,'links') %}  
{% set items = items.getItems() %}
{% if items|length == 0 %}
    {{ component('currrent>links.view.empty',{}) }}    
{% endif %}
{% for item in items %} 
    {{ component('currrent>links.view.item',{ item: item }) }}
{% endfor %}