{% set user_id = service('access').getId() %}
{% set used_storage_percent = service('user.storage').getUserStoragePercent(user_id) %}
{% set used_storage = service('user.storage').getUserStorageSize(user_id) %}
{% set free_space = service('user.storage').getUserStorageFreeSpace(user_id) %}

<div class="tooltip" data-tip="{{ labels.used }} {{ used_storage|fileSize }}">
    <div class="text-sm">
        {{ labels.storage }}
    </div>
    {{  component('tailwind~progress',{
            max:  100, 
            value: used_storage_percent
        }) 
    }}
    <div class="flex flex-row items-center justify-between text-xs ">
        <div class="pr-1">
            {{ labels.space }}
        </div>
        <div class="font-bold">
            {{ free_space|fileSize }}
        </div>
        <div class="font-bold" title="{{ labels.size }}">
            {{ service('user.storage').getUserStorageLimit(user_id)|fileSize }}
        </div>
    </div>
</div>