{% set user_id = service('access').getId() %}
{% if uuid is not empty %}
    {% set link = createModel('Links','links').findById(uuid) %}
{% endif %}

{% set type = type|default(link.type) %}
<form class="form" id="link_form">
    <input type="hidden" name="uuid" id="uuid" value="{{ link.uuid }}">
    <input type="hidden" name="type" id="type" value="{{ type }}">
    <div class="field required form-control">
        <label class="{{ theme.form.label }}">
            {{ fields.url.label }}
        </label>
        <input 
            rule="url"
            type="text" 
            name="url",
            id="url",
            value="{{ link.url }}"
            placeholder="{{ fields.url.placeholder }}" 
            class="form-input
                {{ theme.form.input.class }} 
                {{ theme.form.input.hover }} 
                {{ theme.form.input.focus }}"/>
    </div>
    <div class="field form-control mt-2">
        <label class="{{ theme.form.label }}">
            {{ fields.title.label }}
        </label>
        <input           
            type="text" 
            name="title",
            id="title",
            placeholder="{{ fields.title.placeholder }}" 
            value="{{ link.title }}"
            class="form-input
                {{ theme.form.input.class }} 
                {{ theme.form.input.hover }} 
                {{ theme.form.input.focus }}"/>
    </div>
    <div class="mt-4">
        {{  component('current>form.footer',{ 
                button: theme.form.button, 
                button_title: buttons.save,                            
            }) 
        }}   
    </div>
</form>