{% if uuid is not empty %}
    {% set qrcode = createModel('Qrcode','qrcode').findById(uuid) %}
{% endif %}
<div class="ui segment">          
    <table class="ui compact stackable selectable borderless basic table">
        <thead>
            <tr>              
                <th class="center aligned three wide">{{ columns.date }}</th>      
                <th>{{ columns.country }}</th>   
                <th>{{ columns.city }}</th>   
                <th class="two wide">{{ columns.zip }}</th>    
                <th>&nbsp;</th>                                                                                  
            </tr>
        </thead>
        <tbody 
            id="analytics_views_rows" 
            component="current>qrcode.analytics.view.rows" 
            namespace="qrcode.views"
            qrcode-id="{{ qrcode_id|default(qrcode.id) }}">
            {{ component('current>qrcode.analytics.view.rows',{ qrcode_id: qrcode_id|default(qrcode.id) }) }}   
        </tbody>
    </table>
    <div class="mt-2" id="paginator">
        {{ component('semantic~paginator',{ namespace: 'qrcode.views' }) }}
    </div>     
</div>