<table class="table table-compact">
    <thead class="table-head">
        <tr>                      
            <th class="collapsing center aligned one wide">
                {{ columns.actions }}
            </th>
            <th class="five wide">                    
                {{ columns.user }}
            </th>
            <th>
                {{ columns.permissions }}
            </th>                                      
        </tr>
    </thead>
    <tbody id="permissions_rows" component="current>files.share.users.view.rows" namespace="files.share" file="{{ file_id }}">
        {{ component('current>files.share.users.view.rows',{ file: file_id }) }}
    </tbody>
</table>
<div id="paginator">
    
</div>