{% component 'current>user-area.panel' %}
    {% set hide_title = true %}
    {% set id = 'links-menu-panel' %}
    <div
        class="w-full flex flex-row self-center">
        <button 
            mountTo="link_details"
            component="current>links.create"
            class="inline-block add-link rounded-full tooltip tooltip-right" 
            data-tip="{{ tooltip.add }}">
            {{ component('material-icons~add.circle',theme.icons.action,'svg') }}
        </button>
        <div        
            class="px-4 w-2/3">
        </div>    
        <div
            id="paginator" 
            class="px-4 w-1/3 self-center grow">  
            {{  component('tailwind~paginator.flowbite',{ 
                id: 'links_paginator',
                component: 'current>links.view.items',
                namespace: 'links',
                rows_selector: 'links_items'
            }) 
        }}         
        </div>    
    </div>
{% endcomponent %}