{% if uuid is not empty %}
    {% set file = createModel('Files','storage').findById(uuid) %}
{% endif %}          
{% component 'current>user-area.panel' %} 
    <div class="mt-4">       
        {{ component('current>files.path',{ path: file.path, filesystem: filesystem },'static') }}     
        <div class="mt-8" id="share_tab">
            <ul class="menu menu-compact bg-base-100 w-56 p-2 rounded-box">
                <li 
                    id="users_tab" {{ hidden }} class="link share-tab-item {{ active }}" 
                    component="current>files.share.users" params="uuid:{{ uuid }}" 
                    file="{{ file.id }}">
                 
                    {{ fields.users }}     
                </li>  
                <li id="groups_tab" {{ hidden }} class="link share-tab-item" component="current>files.share.groups" uuid="{{ uuid }}" file="{{ file.id }}">
                    {{ fields.groups }}     
                </li>  
                <li id="note_tab" class="link share-tab-item {{ (file.isPublic() == true) ? 'active' : '' }}" component="current>files.share.note" uuid="{{ uuid }}">
                  
                    {{ fields.note.label }}     
                </li>  
                <li id="password_tab" class="link share-tab-item" component="current>files.share.password" uuid="{{ uuid }}">            
                    {{ fields.password }}     
                </li>     
            </ul>
            <div class="p-4 border rounded border-gray-300 border-solid active tab" id="share_tab_content">   
                {{ component('current>files.share.users',{ uuid: uuid, file: file.id }) }}   
            </div>     
        </div>
    </div>
{% endcomponent %}