{% set user_id = service('access').getId() %}
{% set qrcodes = createModel('Qrcode','qrcode').userQuery(user_id) %}

{% set qrcode_title = searchValue('qrcode_title','qrcode') %}
{% if qrcode_title is not empty %}
    {% set qrcodes = qrcodes.searchIgnoreCase('title',qrcode_title) %}
    {% set msg = 'search' %}
{% endif %}

{% if content_type is not empty %}
    {% set qrcodes = qrcodes.contentIdQuery(content_id,content_type,user_id) %}
{% endif %}
{% set qrcodes = qrcodes.orderBy('date_created','desc') %}
{% set items = paginate(qrcodes,'qrtags') %}  
{% set items = items.getItems() %}
{% if items|length == 0 %}
    {{  component('current>qrcode.view.empty',{ 
            msg: msg 
        }) 
    }}
{% endif %}
{% for item in items %} 
    {{ component('current>qrcode.view.item',{ item: item }) }}
{% endfor %}