{% set modules = readThemeModules(template_path,template_modules) %}
<sidebar 
    id="{{ component_id }}"
    class="fixed top-0 left-0 z-40 h-screen 
    {{ styles.color }} 
    {{ styles.size }} 
    {{ styles.border }}">
    <div       
        class="flex flex-col items-center {{ styles.space }}">
        <div class="my-2 flex items-center flex-row xs:grow">            
            <div class="px-1 dark:bg-gray-800 bg-white rounded-full">              
                <img class="w-6 h-6" alt="{{ title }}" src="{{ template_url }}images/logo.svg">               
            </div>                                                 
            <div class="xs:hidden sm:hidden md:flex pl-2 flex flex-col items-start">                
                <div 
                    class="dark:text-gray-200 poppins-font font-extrabold inline-block align-baseline text-xl hover:text-red-700 transition duration-700 ease-in-out">
                    <a href="{{ url('') }}" class="align-baseline">
                        {{ title }}
                    </a>
                </div>                                                 
            </div> 
        </div>    
        {{ component('current>user-area.sidebar.item',{ styles: styles, item: dashboard, active: true }) }} 
        {% for module in modules %}
            {% set items = module['user-area'].sidebar %}
            {% if items is not empty %}
                {% for item in items %}  
                    {{ component('current>user-area.sidebar.item',{ styles: styles, item: item }) }} 
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div       
        class="flex flex-col items-center w-full {{ styles.logout.class }} {{ styles.space }}">
        {{ component('current>user-area.sidebar.item',{ styles: styles, item: account }) }}  
        {{ component('current>user-area.sidebar.item',{ styles: styles, item: logout }) }}      
    </div>
</sidebar>