{% set item_class = item_class|default('self-center p-1') %}
{% set download_link_type = download_link_type|default('uuid') %}
<div class="flex flex-row items-start">  
    {% if file.isDirectory() == true %}
        {% if shared != true %}       
            {% if access().hasDeny('Directory',['delete']) == true %}
                <div class="tooltip {{ item_class }}" path="{{ file.path }}" 
                    {{ labels.delete|attr('data-tip') }}>
                    {{ component('material-icons~trash',theme.icons.delete,'svg') }}   
                </div>
            {% else %}
                <div                     
                    class="self-end place-content-end tooltip delete-directory {{ item_class }}" path="{{ file.path }}" 
                    {{ labels.delete|attr('data-tip') }}>
                    {{ component('material-icons~trash',theme.icons.delete,'svg') }}          
                </div>
            {% endif %}
        {% endif %}     
        <div class="tooltip file-details {{ item_class }}" uuid="{{ file.uuid }}" {{ labels.details|attr('data-tip') }}>
            {{ component('material-icons~info',icon,'svg') }}      
        </div>
    {% else %}
        <div class="{{ item_class }} tooltip" data-tip="{{ labels.download }}">
            <a href="{{ file.getDownloadUrl(null,false,download_link_type) }}">    
                {{ component('material-icons~file.download',theme.icons.action,'svg') }}                                              
            </a>    
        </div>        
        {% if shared != true %}        
            <!--   
            <div 
                class="tooltip share-file {{ item_class }}" 
                uuid="{{ file.uuid }}" 
                path="{{ file.path }}" 
                {{ labels.share|attr('data-tip') }}>
                {{ component('material-icons~share',theme.icons.action,'svg') }}           
            </div>  
            -->         
        {% endif %}
        {% if file.isLocal() == true and shared != true %}
            <div class="tooltip move-trash-file {{ item_class }}" name="{{ file.path }}" path="{{ file.path }}" {{ labels.delete|attr('data-tip') }}>             
                {{ component('material-icons~trash',theme.icons.delete,'svg') }}               
            </div>
        {% elseif shared != true %}
            <div class="tooltip delete-file {{ item_class }}" name="{{ file.path }}" path="{{ file.path }}" {{ labels.delete|attr('data-tip') }}>
                {{ component('material-icons~trash',theme.icons.delete,'svg') }}               
            </div>
        {% endif %}
        <div 
            mountTo="file_details"
            params="uuid:{{ file.uuid }}"
            component="current>files.access"
            class="tooltip file-action {{ item_class }}" 
            {{ labels.access|attr('data-tip') }}>
            {% set access_icon = (file.isPublic() == true) ? theme.icons.enabled : theme.icons.delete %}
            {{ component('material-icons~key',access_icon,'svg') }}      
        </div> 
        <div 
            mountTo="file_details"
            params="uuid:{{ file.uuid }}"
            component="current>files.note"
            class="tooltip file-action {{ item_class }}" 
            {{ labels.note|attr('data-tip') }}>       
            {{ component('material-icons~chat',theme.icons.action,'svg') }}      
        </div> 
        <div class="tooltip file-details {{ item_class }}" uuid="{{ file.uuid }}" {{ labels.details|attr('data-tip') }}>
            {{ component('material-icons~info',theme.icons.action,'svg') }}      
        </div> 
        <div class="tooltip file-qrcode {{ item_class }}" uuid="{{ file.uuid }}" {{ labels.qrcode|attr('data-tip') }}>
            {{ component('material-icons~qr-code',theme.icons.action,'svg') }}      
        </div>             
    {% endif %}       
</div>
