{% component 'current>layout' type 'html' %}   
    {% set active = 'file.details' %}           
    {{ component('current>page.title',{ title: title }) }}   
    <div class="mx-auto w-full">
        <ul class="mx-auto flex flex-col w-1/2 xs:w-full sm:w-full lg:w-1/2 text-lg">
            {% for item in items %}
                {% set value = file[item.key] %}
                {% if value is not empty %}
                    <li class="py-4 bg-white border-gray-200 inline-flex items-center gap-x-2 px-4 border text-gray-800 first:rounded-t-lg mt-0 last:rounded-b-lg dark:border-gray-700 dark:text-gray-200">
                        <div class="flex items-center justify-between w-full">
                            <span>
                                {{ item.title }}
                            </span>
                            <span>
                                {{ value }}
                            </span>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}    
            <li class="py-4 bg-white border-gray-200 inline-flex items-center gap-x-2 px-4 border text-gray-800 first:rounded-t-lg mt-0 last:rounded-b-lg dark:border-gray-700 dark:text-gray-200">
                <div class="flex items-center justify-between w-full">
                    <span>
                        {{ labels.size }}
                    </span>
                    <span>
                        {{ file.size|fileSize }}
                    </span>
                </div>
            </li>
            <li class="py-4 bg-white border-gray-200 inline-flex items-center gap-x-2 px-4 border text-gray-800 first:rounded-t-lg mt-0 last:rounded-b-lg dark:border-gray-700 dark:text-gray-200">
                <div class="flex items-center justify-between w-full">
                    <span>
                        {{ labels.date }}
                    </span>
                    <span>
                        {{ file.date_created|dateFormat }}
                    </span>
                </div>
            </li>       
            <li class="py-4 bg-white border-gray-200 inline-flex items-center gap-x-2 px-4 border text-gray-800 first:rounded-t-lg mt-0 last:rounded-b-lg dark:border-gray-700 dark:text-gray-200">
                <div class="flex items-center justify-between w-full">
                    <span>
                        {{ labels.access }}
                    </span>
                    <span class="{{ (file.isPublic() == true) ? theme.badge.green : theme.badge.red }}">
                        {{ (file.isPublic() == true) ? labels.public : labels.private }}
                    </span>
                </div>
            </li>                 
        </ul>
    </div>                  
{% endcomponent %}