{% set item_text_class = 'p-2 text-lg font-bold tracking-wider' %}
{% set icon_class = 'p-2 pt-3 bg-gray-400 rounded-l' %}
<div class="flex flex-col p-4 {{ size|default('w-full xl:w-1/3 md:w-full lg:w-1/3 sm:w-full xs:w-full') }}">   
    <div class="p-2 px-4 w-56 rounded-t bg-gray-600 shadow-lg flex flex-row items-center">
        {{ component('icons~address',{ class: '', size: 'h-6 w-6', width: 2, color: 'text-gray-300' },'svg') }}   
        <span class="uppercase text-xl text-gray-300 text-center pl-2">{{ title }}</span>
    </div>
    <div class="flex flex-col p-4 rounded-bl-lg rounded-tr-lg shadow-lg bg-gray-600">    
        {% if item.getValue('first_name') is not empty or item.getValue('last_name') is not empty %}
        <div class="p-4 pb-8 text-center">
            <span class="uppercase text-xl text-gray-300">
                {{ item.getValue('first_name') }}
            </span>
            <span class="uppercase text-xl text-gray-300">
                {{ item.getValue('last_name') }}
            </span>
        </div>
        {% endif %}
        {% if item.getValue('phone') is not empty %}
            <div class="flex flex-row items-center rounded bg-gray-300 shadow">                          
                <div class="{{ icon_class }}">
                    {{ component('icons~phone',{ size: 'h-8 w-8', width: 2, color: 'text-red-800' },'svg') }}            
                </div>
                <div class="{{ item_text_class }}">
                    {{ item.getValue('phone') }}
                </div>                
            </div>
        {% endif %}
        {% if item.getValue('email') is not empty %}
            <div class="flex flex-row items-center rounded bg-gray-300 shadow mt-2">                          
                <div class="{{ icon_class }}">
                    {{ component('icons~mail',{ size: 'h-8 w-8', width: 2, color: 'text-red-800' },'svg') }}            
                </div>
                <div class="{{ item_text_class }}">
                    {{ item.getValue('email') }}
                </div>                
            </div>
        {% endif %}
        {% if item.getValue('website') is not empty %}
            <div class="flex flex-row items-center rounded bg-gray-300 shadow mt-2">                          
                <div class="{{ icon_class }}">
                    <a href="{{ item.getValue('website') }}" target="_bank">
                        {{  component('icons~link',{ 
                                size: 'h-8 w-8', 
                                width: 2, 
                                color: 'text-red-800',
                                class: theme.link.hover 
                            },'svg') 
                        }} 
                    </a>                              
                </div>
                <div class="{{ item_text_class }}">
                    {{ item.getValue('website') }}
                </div>                
            </div>
        {% endif %}
        {% if item.getValue('country') is not empty %}
            <div class="flex flex-row items-center rounded bg-gray-300 shadow mt-2">                          
                <div class="{{ icon_class }}">
                    {{ component('icons~globe',{ size: 'h-8 w-8', width: 2, color: 'text-red-800' },'svg') }}            
                </div>
                <div class="{{ item_text_class }}">
                    {{ item.getValue('country') }}  
                    {{ item.getValue('city') }} 
                    {{ item.getValue('state') }} 
                    {{ item.getValue('zip_code') }}
                </div>                
            </div>
        {% endif %}
        {% if item.getValue('address') is not empty %}
            <div class="flex flex-row items-center rounded bg-gray-300 shadow mt-2">                          
                <div class="{{ icon_class }}">
                    {{ component('icons~address',{ size: 'h-8 w-8', width: 2, color: 'text-red-800' },'svg') }}            
                </div>
                <div class="{{ item_text_class }}">
                    {{ item.getValue('address') }}                   
                </div>                
            </div>
        {% endif %}
        {% if item.getValue('address_2') is not empty %}
        <div class="flex flex-row items-center rounded bg-gray-300 shadow mt-2">                          
            <div class="{{ icon_class }}">
                {{ component('icons~address',{ size: 'h-8 w-8', width: 2, color: 'text-red-800' },'svg') }}            
            </div>
            <div class="{{ item_text_class }}">
                {{ item.getValue('address_2') }}                   
            </div>                
        </div>
        {% endif %}
    </div>    
    <div class="px-1 place-end self-end w-12 rounded-b bg-gray-600 shadow-lg flex flex-row items-center">      
        <a class="p-1" href="{{ url('api/qrcode/vcard/download/' ~ item.getId()) }}">
            {{ component('icons~download',{ size: 'h-8 w-8', width: 2, color: 'text-gray-100' },'svg') }}         
        </a>        
    </div>           
</div>