<div
    class="w-full ">    
    {% if service('access').isLogged() == true %}           
    <div class="tabs">
        <a 
            mountTo="create_qrcode_content"
            component="current>qrcode.create.form"
            class="{{ styles.tab }} create-type-tab bg-stone-50 border border-stone-200 rounded-t-lg">
            <div class="tooltip" data-tip="{{ tooltips.new }}">
                {{ component('material-icons~qr-code',styles.icon,'svg') }}  
            </div>                                    
        </a> 
        <a 
            mountTo="create_qrcode_content"
            component="current>qrcode.create.template"
            class="{{ styles.tab }} create-type-tab rounded-t-lg">
            <div class="tooltip" data-tip="{{ tooltips.create }}">
                {{ component('material-icons~file.text',styles.icon,'svg') }} 
            </div>                      
        </a> 
        <a 
            mountTo="create_qrcode_content"
            component="current>images"
            params="mode:edit,hide_title:true"           
            class="{{ styles.tab }} qrcode-images-tab rounded-t-lg">
            <div class="tooltip" data-tip="{{ tooltips.images }}">
                {{ component('material-icons~image',styles.icon,'svg') }} 
            </div>                      
        </a> 
    </div>
    {% endif %}
    <div       
        id="create_qrcode_content"
        class="p-4 {{ styles.border }} {{ styles.color }}">                                          
        {{ component('current>qrcode.create.form',{}) }}
    </div>                                                   
</div>