<div 
    class="h-full flex flex-col items-start bg-white rounded-lg border border-solid border-gray-300 shadow" 
    id="row_{{ file.uuid }}">                    
    <div class="pl-2 p-2 border-0 font-bold tooltip text-xs" data-tip="{{ file.file_name }}">                       
        {{ file.file_name|sliceLabel(30,'...') }}                   
    </div>                                           
    <div class="flex-grow self-center">
        {% if file.isDirectory() == true %}                          
            <a class="open-directory cursor-pointer flex justify-start" path="{{ path }}">    
                <div class="pt-8 w-full h-auto text-center">   
                    {{ component('current>files.file.svg',{ class: theme.link.hover, type: file.getFileType(), width: 1, size: 'h-24 w-24' }) }}                                   
                </div>                        
            </a>                           
        {% else %}        
            <a class="preview-file cursor-pointer {{ theme.link.hover }}" uuid="{{ file.uuid }}">                                                                               
                {% if file.getFileType() == 'image' %}                               
                    <img alt="File image" class="w-full h-full" src="{{ file.getViewImageUrl() }}">                                                              
                {% else %} 
                <div class="py-8 self-center place-self-center">  
                    {{ component('current>files.file.svg',{ class: theme.link.hover, type: file.getFileType(), width: 1, size: 'h-24 w-24' }) }} 
                </div>                          
                {% endif %}                                                     
            </a>   
        {% endif %}     
    </div>
    <div class="p-1 w-full bg-stone-100">
        {{  component('current>files.view.items.actions',{ 
                file: file, 
                class: 'self-start place-item-end', 
                hide_multiselect: hide_multiselect,
                shared: shared 
            }) 
        }}
    </div>                    
</div>     