{% if uuid is not empty %}
{% set qrcode = createModel('Qrcode','qrcode').findById(uuid) %}
{% endif %}
{% set item = content().type(qrcode.content_type).get(qrcode.content_id) %}

{% if qrcode.content_type == 'address' %}  
    {{ component('current>qrcode.content.view.address',{ item: item, size: 'w-full' }) }}
{% elseif qrcode.content_type == 'text' %}
    {{ component('current>qrcode.content.view.text',{ item: item, size: 'w-full' }) }}
{% elseif qrcode.content_type == 'sms' %}
    {{ component('current>qrcode.content.view.sms',{ item: item }) }}
{% endif %}                  
