{% set user_id = service('access').getId() %}
{% set local = service('user.storage').mountLocalUserFilesystem(user_id) %}
{% set filesystem = service('user.storage').getUserFilesystemName() %}
{% set bin_path = service('storage').getRecyleBinPath() %}

{% set path = path|default(bin_path) %}
{% set empty = service('storage').isEmpty(path,filesystem) %}
{% set disabled = (empty == true) ? 'disabled' : '' %}

<div class="{{ theme.panels.files }}">               
    <btn class="empty-trash {{ disabled }} trash-button tooltip" {{ buttons.empty|attr('data-tip') }}>
        {{ component('material-icons~trash.empty',theme.icons.delete,'svg') }}       
    </btn>
    <btn class="tooltip pl-3 restore-trash {{ disabled }} trash-button" {{ buttons.restore.title|attr('data-tip') }}>
        {{ component('material-icons~trash.restore',theme.icons.action,'svg') }}  
    </btn>
    {{  component('tailwind~breadcrumb',{ 
            path: path,
            home_path: 'bin',
            link_class: theme.link.hover,
            class: 'pl-4 flex-grow',      
            icon: {
                name: 'material-icons~folder',
                class: theme.icons.action.class,
                size: 'h-6 w-6',
                color: theme.icons.color
            }           
        }) 
    }}            
</div>
<div 
    class="bg-white rounded-lg flex flex-col items-start mt-4"
    id="trash_items" component="current>files.trash.rows" namespace="trash">
    {{ component("current>files.trash.rows",{}) }}
</div>   
<div class="pt-4 px-2" id="paginator">
    {{  component('tailwind~paginator.daisyui',{             
            namespace: 'trash',
            button_class: 'btn-xs btn-outline',
            rows_selector: 'trash_items',
            component: "current>files.trash.rows"
        }) 
    }}
</div> 
{{  component('tailwind~modal.confirm',{ 
        component_id: 'confirm_empty_bin',
        title_class: 'text-gray-900 bg-slate-200 p-2',
        content: messages.empty
    }) 
}}