{% set settings = service('options').get('users.signup.form') %}
<div class="{{ styles.space }} {{ styles.border }}">
    <div class="z-0 {{ styles.color }}">
        <h1 class="flex items-center {{ styles.title.class }}">
            {{ component(styles.title.icon.name,styles.title.icon,'svg') }}  
            <div class="pl-2 font-bold {{ styles.title.color }}">
                {{ title }}
            </div>
        </h1>  
        {% set settings = service('options').get('users.signup.form') %}
        <form class="form pt-4" id="signup_form">  
            <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
            <input type="hidden" name="user_type_slug" value="{{ user_type }}">
            <input type="hidden" name="group" value="{{ group }}">
            {% if settings.username.show == 'true' %}
                <div class="field flex flex-col my-1">
                    <label class="{{ styles.label }}">
                        {{ fields.user_name.label }}
                    </label>
                    <div class="relative">
                        <input 
                        class="form-input {{ styles.input.class }} {{ styles.input.hover }} {{ styles.input.focus }}"
                        rule="minLength[2]"
                        type="text" 
                        name="user_name" 
                        id="user_name" 
                        {{ fields.user_name.placeholder|attr('placeholder') }} 
                        value="{{ user.user_name }}"> 
                    </div>
                </div>
            {% endif %}
            {% if settings.email.show == 'true' %}     
                <div class="field field flex flex-col my-1  
                    {{ settings.email.required|ifthen('true','required') }}">
                    <label class="{{ styles.label }}">
                        {{ fields.email.label }}
                    </label>
                    <input 
                        class="form-input {{ styles.input.class }} {{ styles.input.hover }} {{ styles.input.focus }}"
                        type="text" 
                        rule="email"
                        name="email" 
                        id="email" 
                        {{ fields.email.placeholder|attr('placeholder') }} 
                        value="{{ user.email }}">  
                </div>  
            {% endif %} 
            {% if settings.name.show == 'true' %}     
            <div class="field flex flex-col my-1 {{ settings.name.required|ifthen('true','required') }}">
                <label class="{{ styles.label }}">
                    {{ fields.name.label }}
                </label>
                <input 
                    class="form-input {{ styles.input.class }} {{ styles.input.hover }} {{ styles.input.focus }}"
                    name="name" 
                    id="name" 
                    placeholder="{{ fields.name.placeholder }}" 
                    type="text" 
                    value="{{ user.name }}">
            </div>
            {% endif %}   
            {% if settings.phone.show == 'true' %}     
            <div class="field flex flex-col my-1 {{ settings.phone.required|ifthen('true','required') }}">
                <label class="{{ styles.label }}">
                    {{ fields.phone.label }}
                </label>
                <input 
                    class="form-input {{ styles.input.class }} {{ styles.input.hover }} {{ styles.input.focus }}"
                    name="phone" 
                    id="phone" 
                    placeholder="{{ fields.phone.placeholder }}" 
                    type="text" 
                    value="{{ user.phone }}">
            </div>
            {% endif %}            
            <div class="field flex flex-col my-1 required">
                <label class="{{ styles.label }}">
                    {{ fields.password.label }}
                </label>     
                <div class="relative">         
                    <input 
                        class="form-input password-field {{ styles.input.class }} {{ styles.input.hover }} {{ styles.input.focus }}"
                        type="password" 
                        name="password" 
                        rule="minLength[4]"
                        id="password" 
                        {{ fields.password.placeholder|attr('placeholder') }} 
                        value="">
                    <div class="absolute view-password cursor-pointer inset-y-0 right-0 flex items-center pr-2">
                        {{ component('icons~eye',styles.input.icon,'svg') }}
                    </div>
                </div>   
            </div>    
            <div class="field flex flex-col my-1 required">
                <label class="{{ styles.label }}">
                    {{ fields.repeat_password.label }}
                </label>
                <div class="relative">   
                    <input 
                        class="form-input password-field {{ styles.input.class }} {{ styles.input.hover }} {{ styles.input.focus }}"
                        type="password"
                        rule="match[password]" 
                        name="repeat_password" 
                        id="repeat_password" 
                        {{ fields.repeat_password.placeholder|attr('placeholder') }} 
                        value="">
                    <div class="absolute view-password cursor-pointer inset-y-0 right-0 flex items-center pr-2">
                        {{ component('icons~eye',styles.input.icon,'svg') }}
                    </div>
                </div>
            </div>                       
            <div class="field mt-4" id="captcha_panel">   
                {% if settings.captcha.show == 'true' %}     
                    {{ component('captcha::code',{ class: 'w-full' }) }}                
                {% endif %}   
            </div>  
            {{  component('current>form.footer',{                               
                    button_title: buttons.save,                    
                    message: { 
                        class: 'h-24 mt-2'
                    } 
                }) 
            }}   
        </form>     
        {% if hasExtension('oauth') == true %}                            
            {{ component('current>users.connect',{ class: '' }) }}
        {% endif %}
    </div>
</div>