{% if uuid is not empty %}
    {% set item = createModel('Qrcode','qrcode').findById(uuid) %}
{% endif %}

<div 
    class="mb-4 flex "
    id="row_{{ item.uuid }}" 
    uuid="{{ item.uuid }}">
        {% component 'current>user-area.panel' %}
            {% set hide_close = true %}
            {% set id = 'qrcode_' ~ item.uuid %}
            {% set title = item.title|default(title) %}
            <div class="flex flex-row items-center shrink-0">   
                <a 
                    class="px-2 edit-qrcode-title tooltip" 
                    {{ buttons.edit.title|attr('title') }} 
                    uuid="{{ item.uuid }}"
                    data-tip="{{ labels.edit }}">
                    {{ component('material-icons~edit',theme.icons.action,'svg') }}
                </a>                                                                                                    
                <div class="px-2 text-gray-800 font-semibold" id="title_{{ item.uuid }}">       
                    {{ item.title|default(labels.title) }}
                </div>     
            </div>                                 
            <div class="pt-2 flex flex-row xs:flex-col md:flex-row items-start sm:w-full xs:w-full jstify-items-start">
                <div class="flex flex-row items-start">
                    <div class="flex flex-col p-2 bg-gray-100 rounded-lg">
                        <a 
                            href="{{ url('api/qrcode/download/' ~ item.uuid,true) }}" 
                            class="py-1 tooltip" 
                            {{ buttons.download.title|attr('title') }}
                            uuid="{{ item.uuid }}"
                            data-tip="{{ labels.download }}">
                            {{ component('material-icons~file.download',theme.icons.action,'svg') }}               
                        </a>   
                        <a 
                            class="py-1 details-button tooltip" 
                            {{ buttons.help.title|attr('title') }} 
                            uuid="{{ item.uuid }}"
                            data-tip="{{ labels.details }}">
                            {{ component('material-icons~info',theme.icons.action,'svg') }}
                        </a>                     
                        {% if item.isDynamic() == true %}
                            <a 
                                class="py-1 edit-qrcode tooltip" 
                                {{ buttons.edit.title|attr('title') }} 
                                uuid="{{ item.uuid }}"
                                data-tip="{{ labels.edit }}">
                                {{  component('material-icons~edit',theme.icons.action,'svg') }}
                            </a>     
                            <a 
                                class="py-1 view-analytics tooltip" 
                                {{ buttons.edit.title|attr('title') }} 
                                uuid="{{ item.uuid }}"
                                data-tip="{{ labels.analytics }}">
                                {{ component('icons~chart.pie',theme.icons.action,'svg') }}     
                            </a>        
                        {% else %}
                            <div class="py-1 tooltip" data-tip="{{ message }}">
                                {{ component('material-icons~edit',theme.icons.disabled,'svg') }}
                            </div>
                            <div class="py-1 tooltip" data-tip="{{ message }}">
                                {{ component('icons~chart.pie',theme.icons.disabled,'svg') }}
                            </div>                       
                        {% endif %}
                        <a                                 
                            class="py-1 create-template tooltip" 
                            uuid="{{ item.uuid }}"
                            data-tip="{{ labels.template }}">
                            {{ component('icons~template',theme.icons.action,'svg') }}     
                        </a>                            
                        <a 
                            class="py-1 delete-qrcode self-end tooltip" 
                            {{ buttons.delete.title|attr('title') }} 
                            uuid="{{ item.uuid }}" 
                            data-title="{{ item.url }}"
                            data-tip="{{ labels.delete }}">
                            {{ component('material-icons~trash',theme.icons.delete,'svg') }}
                        </a>                     
                    </div>
                    <div
                        class="pl-2 flex flex-col self-start shrink-0 place-content-center justify-self-center content-center">                       
                        {% if item.image_type == 'svg' %}
                            <div class="self-center w-32 h-32 border-2 border-solid border-stone-200 rounded">
                                {{ item.encoded_image }}
                            </div>
                        {% else %}
                            <img 
                                alt="Qrcode"
                                src="{{ item.encoded_image }}" 
                                class="self-center w-32 h-32 border-2 border-solid border-stone-200 rounded"/>      
                        {% endif %}        
                        <div class="mt-1 w-full tooltip {{ theme.badge.default }}" data-tip="{{ labels.type }}">       
                            {{ (item.isDynamic() == true) ? labels.dynamic : labels.static }}
                        </div>                         
                        <div class="mt-1 w-full tooltip {{ theme.badge.green }}" data-tip="{{ labels.content }}">       
                            {{ item.content_type }}
                        </div> 
                        <div class="mt-1 w-full tooltip {{ theme.badge.dark }}" data-tip="{{ labels.image }}">       
                            {{ item.image_type }}
                        </div>                                    
                    </div>  
                </div>
                <div                   
                    class="pl-14 md:pl-14 xs:pl-0 qrcode-details-content jstify-self-stretch w-full" 
                    id="qrcode_details_{{ item.uuid }}">
                    {{ component('current>qrcode.details',{ qrcode: item, hide_close: true }) }}
                </div>                                
            </div>  
        {% endcomponent %}
</div>