<div class="{{ theme.panels.files }}"> 
    <div class="pt-2 pr-2">
        {{ component('current>files.multiselect',{ class: 'mini' }) }}
    </div>
    <div clas="px-4">
        {{ component('current>files.storage',{}) }}
    </div>  
    <div class="flex flex-row items-center">
        <div class="px-4 flex flex-row items-center">
            <span class="px-1 font-bold text-sm">
                {{ labels.filesystem }}
            </span>
            <div class="px-1 text-sm {{ theme.badge.green }}">
                {{ labels.local }}
            </div>
        </div>                
        {% if access().hasDeny('Directory',['write']) == true %} 
            <div class="px-2 tooltip file-button" data-tip="{{ labels.access }}">         
                {{ component('material-icons~folder.create',theme.icons.disabled,'svg') }}
            </div> 
        {% else %} 
            <div class="px-2 create-directory tooltip file-button" data-tip="{{ labels.create }}">         
                {{ component('material-icons~folder.create',theme.icons.action,'svg') }}
            </div>  
        {% endif %}      
        {% if access().hasDeny('File.Upload',['execute']) == true %}
            <div class="px-2 tooltip file-button" data-tip="{{ labels.access }}">
                {{ component('material-icons~file.upload',theme.icons.action,'svg') }}   
            </div>  
        {% else %}
            <div class="px-2 upload-file tooltip file-button" data-tip="{{ labels.upload }}">
                {{ component('material-icons~file.upload',theme.icons.action,'svg') }}   
            </div>  
        {% endif %}       
    </div>    
    <div class="flex-grow">
        {{  component('tailwind~breadcrumb',{ 
                path: path,
                class: 'px-1',
                link_class: theme.link.hover,     
                separator_class: 'p-1',
                icon: {
                    name: 'material-icons~folder',
                    size: 'h-6 w-6',
                    class: theme.icons.action.class,
                    color: theme.icons.action.color
                }           
            }) 
        }} 
    </div>  
    <div class="flex flex-row items-center">
        <div clas="flex-grow px-4">
            {{  component('tailwind~view.type',{ 
                    class: 'pt-2 px-4', 
                    namespace: 'files', 
                    id: 'view_type' 
                }) 
            }}
        </div>
        <div clas="px-4 mx-4">
            {{  component('tailwind~paginator.page-size',{
                    id: 'paginator_page_size',
                    namespace: 'myfiles',
                    class: ''                   
                }) 
            }}   
        </div>
   </div>
</div>   
<div class="mt-4 flex lg:flex-row xs:flex-col sm:flex-col flex-row justify-between items-stretch w-full">
    <div 
        clsss="p-4 shrink-0 w-72 xs:w-full sm:w-full flex-grow" 
        id="file_details"></div>
    <div class="lg:px-4 xs:px-0 xs:py-2 sm:py-2 md:py-2 w-full">
        <div id="files_items" component="current>files.view.items" namespace="myfiles">    
            {{ component('current>files.view.items',{ path: path, view_type: view_type }) }}   
        </div>                 
        <div class="pt-4 px-2" id="paginator">
            {{  component('tailwind~paginator.daisyui',{             
                    namespace: 'myfiles',
                    button_class: 'btn-xs btn-outline',
                    rows_selector: 'files_items',
                    component: "current>files.view.items"
                }) 
            }}
        </div>       
    </div>   
</div>


