{% set border = border|default('border-0 border-b border-gray-300 border-solid') %}
<div class="p-1 flex w-full sm:flex-row items-start xs:flex-col {{ border }} {{ class }}" 
    id="row_{{ file.uuid }}">                 
    {% if file.isDirectory() == true %}                   
        <div class="flex-grow pl-2 cursor-pointer border-0 flex open-directory self-start pt-1" path="{{ path }}">
            {{ component('material-icons~folder',theme.icons.file,'svg') }}                                                        
            <span class="pl-2 text-gray-800 {{ theme.link.hover }}">{{ file.file_name }}</span>
        </div>                 
    {% else %}  
        <div class="px-2 pt-1">
            {% if hide_multiselect != true %}
            <input class="selected-items" type="checkbox" name="selected[]" value="{{ file.uuid }}">
            {% endif %}
        </div>                                                         
        <div class="flex-grow cursor-pointer preview-file flex pl-2 self-start pt-1" uuid="{{ file.uuid }}">
            {{ component('current>files.file.svg',{ type: file_type, color: theme.icons.link, size: 'h-6 w-6' }) }}                                                                                          
            <span class="text-gray-800 pl-2 {{ theme.link.hover }}">{{ file.file_name }}</span>                                                                      
        </div>                            
    {% endif %} 
    {{  component('current>files.view.items.actions',{ 
            file: file, 
            shared: shared,
            hide_multiselect: hide_multiselect 
        }) 
    }}               
</div>         